---
BasedOnStyle: Google
IncludeBlocks: Preserve
SortIncludes: Never
IncludeCategories:
  - Regex: '".*"'
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
  - Regex: '".*/.*"'
    Priority: 2
    SortPriority: 0
    CaseSensitive: false
  - Regex: '<.*>'
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
IncludeIsMainRegex: ""
AlignArrayOfStructures: Right
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: true
  PadOperators: true
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  BeforeElse: false
  BeforeCatch: false
  AfterStruct: false
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
  AfterEnum: false
  AfterUnion: false
  IndentBraces: false
AccessModifierOffset: -4
NamespaceIndentation: All
AllowShortBlocksOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
BreakAfterAttributes: Never
SpacesInParentheses: false
SpaceAfterCStyleCast: false
AlignConsecutiveAssignments: true
AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
# Better to do it manually
# IntegerLiteralSeparator:
#   Binary: 4
#   BinaryMinDigits: 5
#   Decimal: 3
#   DecimalMinDigits: 4
#   Hex: 2
#   HexMinDigits: 5
LambdaBodyIndentation: OuterScope
ColumnLimit: 180
IndentWidth: 4
TabWidth: 4
UseTab: Never
LineEnding: LF
MaxEmptyLinesToKeep: 2
